html {
    color-scheme: light dark;
    --background-color: light-dark(#f0f0f0, #121212);
    --text-color: light-dark(#333, #f4f4f4);
    --selected-item-background: light-dark(#adadad, #555);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

modifier-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
}

modifier-item {
    cursor: pointer;

    display: block;
    position: relative;

    padding: 1em;

    border-style: dotted;
    border-width: 2px;

    &[checked] {
        background-color: var(--selected-item-background);
        border-style: dashed;
    }

    &[disabled] {
        cursor: default;
    }
}

modifier-name {
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 0.5em;
}

modifier-description {
    display: block
}

modifier-points {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: x-large;
    margin-left: 1em;
}

span#sum {
    font-size: x-large;
}

body {
    margin-right: 20vw;
    margin-left: 20vw;
}

footer {
    margin-top: 2em;
    font-size: x-small;
    text-align: right;
}

theme-switch {
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    user-select: none;
    font-size: 2em;
}